%section#sponsors
  %h2 with the help of…
  .prepend-1
    %h3 Our ‘Powertool’ Sponsors
    %ul#powertool
      - s = 'powertool-sponsor-'
      %li=link_to 'edenspiekermann',  'http://edenspiekermann.com/',  :class => "#{s}edenspiekermann",  :title => 'Leading design and communication agency'
      %li=link_to 'mindmatters',      'http://www.mindmatters.de/',   :class => "#{s}mindmatters",      :title => 'mindmatters - building software for people who use the internet since 2001. get to know us via @halfbyte and @siepert!'
      %li=link_to 'railslove',        'http://railslove.com/',        :class => "#{s}railslove",        :title => 'Railslove - we love building web applications!'
      %li=link_to 'scalarium',        'http://www.scalarium.com/',    :class => "#{s}scalarium",        :title => 'Scalarium - EC2 Cluster Management and Application Hosting'

    %h3 Our ‘Screwdriver’ Sponsors
    %ul#screwdriver
      - s = 'screwdriver-sponsor-'
      %li=link_to 'co.up',            'http://co-up.de/',             :class => "#{s}coup",             :title => 'Berlin co-working space'
      %li=link_to 'dnsimple',         'https://dnsimple.com/',        :class => "#{s}dnsimple",         :title => 'Simple Hosted DNS and Domain Management'
      %li=link_to 'rougecardinal',    'http://twitter.com/#!/rougecardinalfr',     :class => "#{s}rougecardinal",    :title => 'Paris-based web development agency'
      %li=link_to 'upstream',         'http://upstre.am/',            :class => "#{s}upstream",         :title => 'Upstream – Agile GmbH'
      %li=link_to 'zweitag',          'http://www.zweitag.de/',       :class => "#{s}zweitag",          :title => 'zweitag: Ruby on Rails Entwicklung und Web 2.0 Strategie Beratung'
      %li=link_to 'leftbrain',          'http://leftbrain.co/',       :class => "#{s}leftbrain",          :title => 'leftbrain.co'
    %ul.dudes
      %li
        %a{:href => "http://twitter.com/#!/crekev71", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/crekev71"}/
      %li
        %a{:href => "http://twitter.com/#!/dbussink", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/dbussink"}/
      %li
        %a{:href => "http://twitter.com/#!/myabc", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/myabc"}/
      %li
        %a{:href => "http://twitter.com/#!/phoet", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/phoet"}/
      %li
        %a{:href => "http://twitter.com/#!/svenfuchs", :target => "_blank"}
          %img{:src => "http://api.twitter.com/1/users/profile_image/svenfuchs"}/
