:javascript
  var eurucamp;
  eurucamp = {
    theme: {
      shell: {
        background: '#ffffff',
        color:      '#ff003f'
      },
      tweets: {
        background: '#ffffff',
        color:      '#30070c',
        links:      '#ff003f'
      }
    },
    twitterFeatures: {
      scrollbar: false,
      loop:      false,
      live:      true,
      hashtags:  true,
      timestamp: true,
      avatars:   true,
      behavior:  'default'
    }
  }

%section#splash
  #logo
    = image_tag 'tools.png'
    %h1 eurucamp
    %h2 Berlin 2011
    %h3 Saturday 28th – Sunday 29th May
    %p  &nbsp;
    -# TODO: we want to use margins here!

= partial 'sponsors'
= partial 'conference'
= partial 'location'
= partial 'people'
= partial 'contact'
