:javascript
  var eurucamp;
  eurucamp = {
    theme: {
      shell: {
        background: '#ffffff',
        color:      '#ff003f'
      },
      tweets: {
        background: '#ffffff',
        color:      '#30070c',
        links:      '#ff003f'
      }
    },
    twitterFeatures: {
      scrollbar: false,
      loop:      false,
      live:      true,
      hashtags:  true,
      timestamp: true,
      avatars:   true,
      behavior:  'default'
    }
  }

%section#splash
  #logo
    = image_tag 'tools.png'
    %h1 eurucamp
  .span-5.append-1
    %h3 What's <strong>eurucamp</strong>?
    %p
      Just like you, we noticed a huge amount of interest in <a href="http://euruko2011.org/">EuRuKo</a>
      this year and a lot of people (including the organisers of <strong>eurucamp</strong>) weren't able
      to get tickets.
    %p
      So we're assembling an alternative programme for those who want to come to Berlin and hear about,
      talk about and hack about (with) Ruby.
    %p
      As far as possible, we'll coordinate the social events with the EuRuKo organisers, so you'll still
      have a chance to meet up with those attending.

  .span-3.last
    %ul.circle
      %li.des
        A Barcamp-style event consisting of workshops and hack-spaces.
      %li.fle
        Depending on interest, an alternative line up of talks.

  .span-3.last
    %ul.circle
      %li.bui
        BLAH
      %li.wel
        BLAH

%section#sponsors
  %ul
    - s = 'sponsor-'
    %li=link_to 'co.up',            'http://co-up.de/',             :class => "#{s}coup",             :title => 'Berlin co-working space'
    %li=link_to 'dnsimple',         'https://dnsimple.com/',        :class => "#{s}dnsimple",         :title => 'Simple Hosted DNS and Domain Management'
    %li=link_to 'edenspiekermann',  'http://edenspiekermann.com/',  :class => "#{s}edenspiekermann",  :title => 'Leading design and communication agency'
    %li=link_to 'rougecardinal',    'http://rougecardinal.fr/',     :class => "#{s}rougecardinal",    :title => 'Paris-based web development agency'
    %li=link_to 'tigrish',          'http://tigrish.com/',          :class => "#{s}tigrish",          :title => 'Paris-based web and mobile agency'
    %li=link_to 'upstream',         'http://upstre.am/',            :class => "#{s}upstream",         :title => 'Upstream – Agile GmbH'

%section#conference
  %h2 Conference
  .span-12.last
    -#%h3.red2 conference info
    .span-7.prepend-1
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
        in culpa qui officia deserunt mollit anim id est laborum.
    .span-4.last
      :javascript
        new TWTR.Widget({
          version:  2,
          type:     'profile',
          rpp:      7,
          interval: 6000,
          width:    220,
          height:   250,
          theme:    eurucamp.theme,
          features: eurucamp.twitterFeatures
        }).render().setUser('eurucamp').start();

%section#people
  %h2 People
  %div
    .span-7.prepend-1
      %ul
        %li Lorem ipsum dolor sit amet
        %li consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        %li labore et dolore magna aliqua. Ut enim ad minim veniam,
        %li quis nostrud exercitation ullamco laboris nisi ut aliquip ex
    .span-4.last
      :javascript
        new TWTR.Widget({
          version:  2,
          type:     'search',
          rpp:      7,
          search:   'eurucamp',
          title:    'Live Search',
          subject:  '#eurucamp',
          interval: 6000,
          width:    250,
          height:   250,
          theme:    eurucamp.theme,
          features: eurucamp.twitterFeatures
        }).render().start();

%section#contact
  %h2 Contact
  .span-6.prepend-1
    %p
      Please feel free to contact us. We are looking forward to it.
      %br/
    #summary
      %ul
    #summary2
      %ul
  .span-4.prepend-2
    %img.mb25{:alt => "contact_person", :height => "40", :src => "http://placehold.it/240x40", :width => "240"}/
    .vcard
      .email
        %span email
        info@eurucamp.org
