:javascript
  var eurucamp;
  eurucamp = {
    theme: {
      shell: {
        background: '#ffffff',
        color:      '#ff003f'
      },
      tweets: {
        background: '#ffffff',
        color:      '#30070c',
        links:      '#ff003f'
      }
    },
    twitterFeatures: {
      scrollbar: false,
      loop:      false,
      live:      true,
      hashtags:  true,
      timestamp: true,
      avatars:   true,
      behavior:  'default'
    }
  }

%section#splash
  #logo
    = image_tag 'tools.png'
    %h1 eurucamp
    %h2 Berlin 2011
    %h3 Saturday 28th – Sunday 29th May
    %p  &nbsp;
    -# TODO: we want to use margins here!

%section#sponsors
  %h2 with the help of…
  .prepend-1
    %h3 Our ‘Powertool’ Sponsors
    %ul#powertool
      - s = 'powertool-sponsor-'
      %li=link_to 'mindmatters',      'http://www.mindmatters.de/',   :class => "#{s}mindmatters",      :title => 'mindmatters - building software for people who use the internet since 2001. get to know us via @halfbyte and @siepert!'
      %li=link_to 'railslove',        'http://railslove.com/',        :class => "#{s}railslove",        :title => 'Railslove - we love building web applications!'
      %li=link_to 'scalarium',        'http://www.scalarium.com/',    :class => "#{s}scalarium",        :title => 'Scalarium - EC2 Cluster Management and Application Hosting'

    %h3 Our ‘Screwdriver’ Sponsors
    %ul#screwdriver
      - s = 'screwdriver-sponsor-'
      %li=link_to 'co.up',            'http://co-up.de/',             :class => "#{s}coup",             :title => 'Berlin co-working space'
      %li=link_to 'dnsimple',         'https://dnsimple.com/',        :class => "#{s}dnsimple",         :title => 'Simple Hosted DNS and Domain Management'
      %li=link_to 'edenspiekermann',  'http://edenspiekermann.com/',  :class => "#{s}edenspiekermann",  :title => 'Leading design and communication agency'
      %li=link_to 'rougecardinal',    'http://rougecardinal.fr/',     :class => "#{s}rougecardinal",    :title => 'Paris-based web development agency'
      %li=link_to 'tigrish',          'http://tigrish.com/',          :class => "#{s}tigrish",          :title => 'Paris-based web and mobile agency'
      %li=link_to 'upstream',         'http://upstre.am/',            :class => "#{s}upstream",         :title => 'Upstream – Agile GmbH'
      %li=link_to 'zweitag',          'http://www.zweitag.de/',       :class => "#{s}zweitag",          :title => 'zweitag: Ruby on Rails Entwicklung und Web 2.0 Strategie Beratung'

= partial 'conference'
= partial 'location'
= partial 'people'
= partial 'contact'
