!!! 5
- ie_html :lang => 'en', :class => 'no-js' do
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title eurucamp Berlin 2011 | 28 - 29 May | alternative ruby conf and open space

    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

    %link{:href => "favicon.png", :rel => "shortcut icon"}/

    %link{:href => "stylesheets/style.css?v=2", :rel => "stylesheet"}/

    %script{:src => "http://use.typekit.com/snt3fzj.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
    = javascript_include_tag '/js/libs/modernizr-1.7.min.js'
  %body
    #container
      %header
        #nav
          %ul
            %li
              %a{:href => "#conference"} conference
            %li
              %a{:href => "#concept"}   concept
            %li
              %a{:href => "#location"}  location
            %li
              %a{:href => "#contact"}   contact
            %li.imp
              %a{:href => "https://github.com/myabc/eurucamp_website/wiki"} wiki
      #main{:role => "main"}
        = yield

    %footer
      &nbsp;
    %a#github{:href=> "https://github.com/myabc/eurucamp_website"}
      %span Fork me on GitHub!
      %span social coding ftw
    = javascript_include_tag '/js/libs/jquery-1.5.1.min.js'
    -#= javascript_include_tag '/js/jquery.validate.min.js"
    = javascript_include_tag '/js/waypoints.min.js'
    = javascript_include_tag '/js/script.js'
    :javascript
      $(document).ready(function() {
      //$("#contactform").validate({
      //    errorPlacement: function(error, element) {
      //    element.before( error );
      //    }
      //  })
      });
    /[if lt IE 7 ]
      = javascript_include_tag 'js/libs/dd_belatedpng.js'
      :javascript
        DD_belatedPNG.fix('img, .png_bg');
    :javascript
      var _gaq=[['_setAccount','UA-22009575-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
