!!! 5
- ie_html :lang => 'en', :class => 'no-js' do
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title eurucamp Berlin 2011 | 28 - 29 May | alternative ruby conf and open space

    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

    %link{:href => "favicon.png", :rel => "shortcut icon"}/

    %link{:href => "stylesheets/style.css?v=2", :rel => "stylesheet"}/

    = javascript_include_tag 'http://use.typekit.com/snt3fzj.js'
    :javascript
      try{Typekit.load();}catch(e){}
    = javascript_include_tag '/js/libs/modernizr-1.7.min.js'
    = javascript_include_tag 'http://widgets.twimg.com/j/2/widget.js'
  %body
    %header
      #nav
        %h2 eurucamp
        %ul
          %li=link_to 'conference',  '#conference'
          %li=link_to 'people',      '#people'
          %li=link_to 'contact',     '#contact'
          %li.imp=link_to 'wiki',    'https://github.com/myabc/eurucamp_website/wiki'
    #container

      #main{:role => "main"}
        = yield
    
    %section#sponsors
      %h4 sponsors
      %ul
        - s = 'sponsor-'
        %li=link_to 'co.up',            'http://co-up.de/',             :class => "#{s}coup",             :title => 'Berlin co-working space'
        %li=link_to 'dnsimple',         'https://dnsimple.com/',        :class => "#{s}dnsimple",         :title => 'Simple Hosted DNS and Domain Management'
        %li=link_to 'edenspiekermann',  'http://edenspiekermann.com/',  :class => "#{s}edenspiekermann",  :title => 'Leading design and communication agency'
        %li=link_to 'railslove',        'http://railslove.com/',        :class => "#{s}railslove",        :title => 'Railslove -  - we love building web applications!'
        %li=link_to 'rougecardinal',    'http://rougecardinal.fr/',     :class => "#{s}rougecardinal",    :title => 'Paris-based web development agency'
        %li=link_to 'tigrish',          'http://tigrish.com/',          :class => "#{s}tigrish",          :title => 'Paris-based web and mobile agency'
        %li=link_to 'upstream',         'http://upstre.am/',            :class => "#{s}upstream",         :title => 'Upstream – Agile GmbH'
    
    %footer
      &nbsp;
    %a#github{:href=> "https://github.com/myabc/eurucamp_website"}
      %span Fork me on GitHub!
      %span social coding ftw
    = javascript_include_tag '/js/libs/jquery-1.5.1.min.js'
    = javascript_include_tag '/js/waypoints.min.js'
    = javascript_include_tag '/js/script.js'
    /[if lt IE 7 ]
      = javascript_include_tag 'js/libs/dd_belatedpng.js'
      :javascript
        DD_belatedPNG.fix('img, .png_bg');
    :javascript
      var _gaq=[['_setAccount','UA-22009575-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
